/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* google fonts plyfair display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

h1, h2, h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* default css */
:root {
    --primary-color: #fc8621;
    --secondary-color: #fff;
    --third-color: #efefef;
    --text-color: #777;
  }
section{
    padding: 60px 30px;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1270px;
    width: 90%;
    margin: auto;
}

.navbar{
    /* box-shadow: 0px 5px 10px 0px #aaa; */
    position: fixed;
    width: 100%;
    background: transparent;
    color: var(--secondary-color);
    opacity: 0.85;
    z-index: 100;
    margin-top: 25px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo img{
    order: 1;
    width: 150px;
}

.menu-items li{
    list-style: none;
    margin-left: 24px;
    font-size: 20px;
}

.navbar a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--primary-color);
}

/* header image */
.hero {
    background: linear-gradient(#0006, #0006), url(https://preview.colorlib.com/theme/passport/images/hero_1.jpg.webp);
  
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  /*   background-color: #eee; */
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .hero-inner {
    
  /*   text-align: center; */
    /* padding: 0 1.5rem; */
  }
  
  .hero-headline {
    margin: 0;
    font-size: 60px;
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 72px;
  }
  
 
  .watch-icon{
   margin-top: 40px;
  }
  .watch-icon h2{
   color: var(--secondary-color);
   font-weight: 400;
   font-size: 20px;
  }
  .watch-icon img{
    width: 80px;
    color: var(--secondary-color);
    margin-right: 15px;
  }



  /* about */

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-gap: 30px;
    margin: 60px 0px;
}
.about h3{
    font-size: 18px;
    color: var(--primary-color);
    line-height: 27px;
    font-weight: 500;
}
.about h2 {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 16px;
}
.about p{
    margin-bottom: 16px;
}
.about a {
    margin: 48px 0px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: var(--primary-color);
    border-radius: 50px;
    color: var(--secondary-color);
    text-transform: capitalize;
}
  .about-img img{
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .about-img img:nth-child(2) {
    position: relative;
    top: 40px;
    left: 25px;
}

/* services */
.service h3{
    font-size: 18px;
    color: var(--primary-color);
    line-height: 27px;
    font-weight: 500;
}
.service h2 {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 16px;
}
/* footer  */

.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color:var(--third-color);
      color: var(--primary-color);
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: var(--secondary-color);
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: var(--text-color);
  }
  
  .footer-content-column ul li a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: var(--text-color);
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: var(--text-color);
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: var(--secondary-color);
      color: var(--text-color);
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      /* background-color:var(--secondary-color); */
      border: 1px solid var(--primary-color) ;
      border-radius: 21px;
      color: var(--primary-color);
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: var(--text-color);
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: var(--primary-color);
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: var(--text-color);
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: var(--third-color);
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: var(--third-color);
      color: #fff;
      padding: 15px 30px;
    text-align: center;
    border-top:1px solid var(--primary-color) ;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: var(--text-color);
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: var(--text-color);
      text-decoration: none;
  }
  .footer-logo{
    width: 150px;
  }
  
  
  
  
  
  
  
 
  
  
  
  
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  
  
  