/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* google fonts plyfair display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

h1, h2, h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
img{
    width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* default css */
:root {
    --primary-color: #fc8621;
    --secondary-color: #fff;
    --third-color: #efefef;
    --text-color: #777;
  }
section{
    padding: 50px 30px;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1270px;
    width: 90%;
    margin: auto;
}

.navbar{
    /* box-shadow: 0px 5px 10px 0px #aaa; */
    position: fixed;
    width: 100%;
    background: transparent;
    color: var(--secondary-color);
    opacity: 0.85;
    z-index: 100;
    padding: 10px 0;
}
.navbar.scrolled {
    background-color: #333;
    color: #777;
    box-shadow: 0 0 25px var(--text-color);
    opacity: 1;
    transition: all .5s;
  }

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo img{
    order: 1;
    width: 150px;
}

.menu-items li{
    list-style: none;
    margin-left: 24px;
    font-size: 20px;
}

.navbar a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--primary-color);
}

/* header image */
.hero {
    background: linear-gradient(#0006, #0006), url(https://preview.colorlib.com/theme/passport/images/hero_1.jpg.webp);
  
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  /*   background-color: #eee; */
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .hero-inner {
    
  /*   text-align: center; */
    /* padding: 0 1.5rem; */
  }
  
  .hero-headline {
    margin: 0;
    font-size: 60px;
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 72px;
  }
  
 
  .watch-icon{
   margin-top: 40px;
  }
  .watch-icon h2{
   color: var(--secondary-color);
   font-weight: 400;
   font-size: 20px;
  }
  .watch-icon img{
    width: 80px;
    color: var(--secondary-color);
    margin-right: 15px;
  }



  /* about */

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-gap: 30px;
    margin-top: 60px;
    margin-bottom: 0px;
}
.about h3{
    font-size: 18px;
    color: var(--primary-color);
    line-height: 27px;
    font-weight: 500;
}
.about h2 {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 16px;
}
.about p{
    margin-bottom: 16px;
}
.about a {
    margin: 48px 0px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: var(--primary-color);
    border-radius: 50px;
    color: var(--secondary-color);
    text-transform: capitalize;
}
  .about-img img{
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .about-img img:nth-child(2) {
    position: relative;
    top: 40px;
    left: 25px;
}

/* services */
/* .services-des{
    padding-left:20px ;
} */
.service h3{
    font-size: 18px;
    color: var(--primary-color);
    line-height: 27px;
    font-weight: 500;
}
.service h2 {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 16px;
}
.service img{
    width: 80px;
}

.service-package{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
    grid-gap: 30px;
    text-align: center;
    margin-top: 60px;
}

.service-item {
    padding: 20px;
    box-shadow: 0 0 25px #ddd;
    border-radius: 10px;
}
.service-item {
    transition: transform 0.3s ease;
  }
  
  .service-item:hover {
    transform: translateY(-10px);
  }
/* destination section */

.destination{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 30px;
    
}
.destination-des h3{
    font-size: 18px;
    color: var(--primary-color);
    line-height: 27px;
    font-weight: 500;
}
.destination-des h2 {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 16px;
}
.destination-des p {
    margin-bottom: 60px;
}
.img-box img {
    border-radius: 5px;
}

.img-box span {
    display: inline-block;
    padding: 2px 35px;
    box-shadow: 0 0 25px #ddd;
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--secondary-color);
    margin: 10px 0px;
}
.des-cap h2 {
    margin-bottom: 15px;
}

/* full background image section */
.background-image{
    background-image: url(https://images.unsplash.com/photo-1520470324886-a68a7df92a0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1333&q=80) ;
			background-position: center center;
			background-repeat:  no-repeat;
			/* background-attachment: fixed; */
			background-size:  cover;
			background-color: #999;
            padding: 250px 0px;
            text-align: center;
            margin: 65px 0px;
  
}

.background-image img{
    width: 100px;

}
section.client {
    margin-top: -13px;
}

  /* jquery  carosal */
  .owl-item .item img {
    width: 170px !important;
}
.client h2{
font-size: 36px;
margin-bottom: 26px;
}
.owl-theme .owl-nav {
    display: none;
}
.owl-dots {
    margin-top: 25px;
}


/* blog section */
.blog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-gap: 30px;
    margin-top: 55px;
}
.blog-list span img{
    width: 25px !important;
  
}
.blog-list  h3{
   margin: 10px 0px;
  
}
.blog-list span{
   /* padding: 5px 10px; */
   opacity: 0.5;
  
}
.blog-list a {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    color: var(--primary-color);
}

.blog-list span img{
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}


/* get started */

.get-started{
    padding: 50px 0px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 90px;
}
.get-started a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 51px;
}
.get-started h3{
   font-size: 28px;
   line-height: 33px;
   font-weight: 500;
}
/* footer  */

.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color:var(--third-color);
      color: var(--primary-color);
  }
 

  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: var(--text-color);
  }
  
  .footer-content-column ul li a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: var(--text-color);
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: var(--text-color);
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: var(--secondary-color);
      color: var(--text-color);
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      /* background-color:var(--secondary-color); */
      border: 1px solid var(--primary-color) ;
      border-radius: 21px;
      color: var(--primary-color);
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: var(--text-color);
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: var(--primary-color);
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: var(--text-color);
      text-decoration: none;
  }
  
  svg.footer-wave-svg {
    display: none;
}
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  
  .footer-copyright {
      background-color: var(--third-color);
      color: #fff;
      padding: 15px 30px;
    text-align: center;
    border-top:1px solid var(--primary-color) ;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: var(--text-color);
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: var(--text-color);
      text-decoration: none;
  }
  .footer-logo{
    width: 150px;
  }
  
 
  

  /* popup */
  
  #popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  #videoPopup {
    position: relative;
    width: 600px;
    height: 400px;
    /* background-color: #fff; */
    margin: 100px auto;
    padding: 20px;
  }
  
  #closePopupBtn {
    position: absolute;
    top: 24px;
    right: 18px;
  }
  
  
